on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - "master"
    tags:
      - "v*.*.*"

jobs:
  build-proaction:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/setup-go@v1
        with:
          go-version: "1.14.2"

      - name: setup env
        run: |
          echo "::set-env name=GOPATH::$(go env GOPATH)"
          echo "::add-path::$(go env GOPATH)/bin"
        shell: bash

      - uses: actions/checkout@v2

      - run: make test proaction

      - uses: actions/upload-artifact@v1
        with:
          name: proaction
          path: bin/proaction

  validate:
    runs-on: ubuntu-18.04
    needs: build-proaction
    steps:
      - name: download proaction binary
        uses: actions/download-artifact@v1
        with:
          name: proaction
          path: bin/

      - run: chmod +x bin/proaction

      - uses: actions/checkout@v2

      - run: make integration
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  goreleaser:
    runs-on: ubuntu-latest
    needs:
      - validate
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Unshallow
        run: git fetch --prune --unshallow

      - uses: actions/setup-go@v1
        with:
          go-version: "1.14.2"

      - run: sudo apt-get -qq -y install

      - uses: azure/docker-login@v1
        with:
        username: proactionbot
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v1
        with:
          version: latest
          args: release --rm-dist --config deploy/.goreleaser.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.PROACTIONBOT_GITHUB_TOKEN }}
